# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [5]:
#Here I am importing the data I collected from the Weather exercise
data = pd.read_csv("cities.csv")
#Renaming the first column to "City"
data = data.rename(columns={"Unnamed: 0":"City"})

#Filtering out 'NaN' data from Lat and Lon
filter_data = data[data[['Lat', 'Lng']].notnull().all(1)]
filter_data.head()

,City,Cloudiness,Country,Humidity,Lat,Lng,Max Temp,Wind Speed
0,rikitea,4.0,PF,76.0,-23.12,-134.97,77.65,12.12
1,norman wells,90.0,CA,70.0,65.28,-126.83,-5.80,13.87
2,barrow,1.0,US,95.0,71.29,-156.79,-29.20,9.17
3,carballo,40.0,ES,100.0,43.21,-8.69,55.00,6.93
4,beringovskiy,100.0,RU,95.0,63.05,179.32,26.22,21.68

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [8]:
#Configure Google Maps
gmaps.configure(api_key=g_key)

#Storing my lat&lon data and humidity data
location = filter_data[["Lat","Lng"]]
humidity = filter_data['Humidity'].astype(float)

#Plot heat map
fig = gmaps.figure()

#Creating a heat map layer
heatMap = gmaps.heatmap_layer(location, weights = humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)
#Adding heat layer to 
fig.add_layer(heatMap)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [15]:
#Filtering down to ideal weather spots
idealWeather = filter_data.loc[filter_data["Cloudiness"]<=15]
idealWeather = idealWeather.loc[filter_data["Max Temp"]>=65]
idealWeather = idealWeather.loc[filter_data["Max Temp"]<=95]
idealWeather = idealWeather.loc[filter_data["Wind Speed"]<=20]
idealWeather

,City,Cloudiness,Country,Humidity,Lat,Lng,Max Temp,Wind Speed
0,rikitea,4.0,PF,76.0,-23.12,-134.97,77.65,12.12
15,avarua,1.0,CK,94.0,-21.21,-159.78,78.80,10.29
16,atuona,4.0,PF,75.0,-9.80,-139.03,82.27,11.63
29,bengkulu,14.0,ID,60.0,-3.80,102.27,88.12,4.90
48,tura,0.0,IN,30.0,25.52,90.22,82.89,2.48
...,...,...,...,...,...,...,...,...
590,apatou,0.0,GF,91.0,5.16,-54.35,69.96,2.17
600,lalmohan,0.0,BD,39.0,22.34,90.74,83.59,6.78
606,hope,1.0,US,73.0,33.67,-93.59,73.00,4.70
610,saint-louis,0.0,SN,7.0,16.33,-15.00,78.75,9.26
623,veraval,0.0,IN,49.0,20.90,70.37,67.51,4.29

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map